/* TYPHOGRAPHY & IMAGES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
a {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: grey;
  text-decoration: none;
}
.logo img {
  max-width: 100%;
  margin: 13%;
}
.lang_i h3 {
  font-size: 12px;
  margin: auto 3px;
}
.eng h3 {
  color: black;
}
.fa-user, .fa-shopping-bag {
  color: #d70a67;
}
.log h4 {
  font-size: 12px;
  color: #d70a67;
  margin: auto 0 auto 10px;
}
.top-up h3 {
  font-size: 40px;
  color: rgb(60, 60, 60);
  margin-top: 150px;
  margin-left: 100px;
  font-weight: lighter;
  float: left;
}
.top-up img {
  width: 40%;
  height: 40%;
  float: right;
  position: relative;
}
.top-down h5 {
  font-size: 15px;
  color: black;
}
.top-btn {
  width: 170px;
  height: 60%;
  background: #d70a67;
  color: white;
  border: none;
  cursor: pointer;
}
.top-btn:hover {
  background: #aa0c53;
  transition: 1s;
}
.fa-crosshairs {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #d70a67;
  font-size: 20px;
}
.cities .title h1 {
  color: lightgrey;
  opacity: .2;
  font-size: 160px;
  font-weight: bolder;
  position: absolute;
  top: -120px;
  left: 50px;
}
.app .title h1, .office .title h1 {
  color: lightgrey;
  opacity: .2;
  font-size: 160px;
  font-weight: bolder;
  position: absolute;
  top: -120px;
  left: 50px;
}
.title h2 {
  color: rgb(60, 60, 60);
  font-size: 40px;
  margin: 50px;
}
.card img {
  width: 500px;
  height: 300px;
}
.oslo h5 {
  color: white;
  font-size: 25px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-weight: bolder;
}
.oslo img:hover {
  transform: scale(1.1);
  transition: 1s;
  overflow: hidden;
}
.freccia {
  width: 50px;
  height: 50px;
  background: #d70a67;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-arrow-right {
  color: white;
  font-size: 20px;
}
.iniziale {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 40px;
  left: 0px;
}
.iniziale h3 {
  font-size: 200px;
  opacity: .3;
  color: #d70a67;
}
.app_violet h1 {
  color: white;
  font-size: 30px;
}
.app_violet h3 {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}
.violet_btn {
  width: 140px;
  height: 50px;
  border-radius: 0px;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  margin-right: 30px;
  display: flex;
}
.vb_text h1 {
  font-size: 15px;
  color: white;
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
}
.vb_text h3 {
  font-size: 10px;
  color: white;
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
}
.violet_btn i {
  color: white;
  font-size: 30px;
  margin: 5px;
}
.vdx img {
  width: 630px;
  height: 500px;
  margin-left: 50px;
}
.office_img img {
  max-width: 100%;
}
.rettangolo h2 {
  font-size: 25px;
  color: rgb(60, 60, 60);
}
.rettangolo h3 {
  font-size: 15px;
  color: rgb(60, 60, 60);
  margin-top: 20px;
}
.down-btn {
  height: 50px;
  margin-left: 300px;
  margin-top: 20px;
}
/* DIV & CONTAINER ---------------------------------------------------------------- */
.main {
  width: 100%;
  height: auto;
}
.nav {
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  display: flex;
}
.logo {
  height: 100%;
  width: 130px;
}
.log_g {
  height: 25px;
  width: 300px;
  display: flex;
}
.lang, .log, .cart {
  height: 100%;
  width: 40%;
  border-left: 1px solid rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart {
  width: 20%;
}
.lang_i.nor {
  border-right: 1px solid grey;
}
.top {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.top-down {
  width: 900px;
  height: 100px;
  background: white;
  box-shadow: -20px 0px 50px 3px lightgrey;
  z-index: 999;
  position: absolute;
  top: 250px;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* form bootstrap*/
.form-group {
  width: 50%;
  height: 60%;
  margin: auto 0;
}
.form-control {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  border-radius: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 100%;
    opacity: .5;
    top: 1.3em;
    font-weight: 400;
}
.form-control:focus {
  border-color: black;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lightgrey;
}
.adress-i {
  border: none;
  border: 1px solid black
  position: relative;
}
.cities {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
.title {
  position: relative;
  width: 700px;
  height: 50px;
}
.foto_cities {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 0 30px;
}
.card {
  width: 18.3%;
  height: 300px;
  margin: 10px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
}
.app {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
.app_violet {
  background: #d70a67;
  width: 100%;
  height: 350px;
  display: flex;
}
.app_text {
  height: 50%;
  width: 100%;
  float: left;
  padding-left: 100px;
  padding-top: 70px;
}
.bottoni_v {
  height: 50%;
  width: 100%;
  display: flex;
  padding-top: 50px;
  padding-left: 100px;
}
.vsx, .vdx {
  width: 50%;
  height: 100%;
  margin: 0;
}
.vdx {
  overflow: hidden;
}
.office {
  width: 100%;
  height: 900px;
  position: relative;
}
.office_img {
  width: 100%;
  height: 650px;
  overflow: hidden;
}
.rettangolo {
  width: 600px;
  height: 220px;
  background: white;
  margin-left: 200px;
  position: absolute;
  top: 550px;
  left: -50px;
  box-shadow: 0px 20px 40px 3px lightgrey;
  padding: 40px;
}
.form_sign {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  border-top: 1px solid lightgrey;
}
/* CLASSI JQUERY -------------------------------------------------------------- */
.sopra {
  z-index: 1000;
}
.bianco {
  background: white;
  box-shadow: 2px 2px 10px 3px rgb(244, 244, 244);
}
.sotto {
  z-index: 1;
}
.alt_tot {
  height: 100%;
}
.nascosta {
  display: none;
}
/* MEDIA QUERY ---------------------------------------------------------------- */
